<!-- Hero Section -->
<section class="hero__section set-bg" data-setbg="img/hero-bg.png">
    <div class="container text-white">
        <div class="hero__slider owl-carousel">
            <div class="hero__items">
                <span>The electro vibe</span>
                <h2>Tailor Lachiri</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua accumsan lacus vel facilisis. </p>
                <a href="#" class="site__btn">Buy tickets</a>
            </div>
            <div class="hero__items">
                <span>The electro vibe</span>
                <h2>Tailor Lachiri</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua accumsan lacus vel facilisis. </p>
                <a href="#" class="site__btn">Buy tickets</a>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section end -->
<!-- About Section -->
<section class="about__section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="img/about.png" alt="">
            </div>
            <div class="col-lg-6">
                <div class="about__text">
                    <span>About us</span>
                    <h2>The electro vibe</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inc-ididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. lectus turpis sociis ut porttitor scelerisque amet ultrices placerat mid facilisis proin purus, cursus ridiculus nisi diam augue porta? Penatibus magna etiam, placerat dignissim.</p>
                    <a href="#" class="site__btn">Contact us</a>
                </div>
            </div>
        </div>
    </div>
    <section class="discography__section set-bg" data-setbg="img/discography-bg.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title">
                        <div class="sub-title">Our Discogaphy</div>
                        <h2>newest albums & singles.</h2>
                    </div>
                </div>
                <div class="col-lg-4 text-left text-lg-right pt-2">
                    <a href="#" class="site__btn mb-5"><i class="fa fa-apple"></i> Buy on itunes</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="album__card">
                        <img src="img/members/1.jpg" alt="">
                        <h4>I’m a mess</h4>
                        <p>Bebe Rexha</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="album__card">
                        <img src="img/members/2.jpg" alt="">
                        <h4>Natural</h4>
                        <p>Imagine Dragons</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="album__card">
                        <img src="img/members/3.jpg" alt="">
                        <h4>Sweet But Psycho</h4>
                        <p>Ava Max</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="album__card">
                        <img src="img/members/4.jpg" alt="">
                        <h4>Waiting For Love</h4>
                        <p>Avicii</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="album__card">
                        <img src="img/members/5.jpg" alt="">
                        <h4>So Am I</h4>
                        <p>Ava Max</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="album__card">
                        <img src="img/members/6.jpg" alt="">
                        <h4>Mamma Mia</h4>
                        <p>Hugel feat. Amber</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="album__card">
                        <img src="img/members/7.jpg" alt="">
                        <h4>Bad Guy</h4>
                        <p>Billie Eilish</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="album__card">
                        <img src="img/members/8.jpg" alt="">
                        <h4>Let me down slowly</h4>
                        <p>Alec Benjamin</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- About Section end -->
<!-- Player Section -->
<section class="player__section">
    <div class="container-fluid player-one-style p-0">
        <div id="jquery_jplayer_2" class="jp-jplayer"></div>
        <div id="jp_container_2" class="jp-audio" role="application" aria-label="media player">
            <div class="jp-type-playlist">
                <div class="row m-0">
                    <div class="col-lg-6 p-0">
                        <div class="player_left" id="player__thumb">
                            <div class="player_left_inner">
                                <div class="row">
                                    <div class="col-lg-5 col-sm-4">
                                        <div class="track-info">
                                            <h5>Sweet But Psycho</h5>
                                            <p>Ava Max</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-sm-8 text-right">
                                        <div class="conterols">
                                            <div class="jp-gui jp-interface">
                                                <div class="jp-controls">
                                                    <button class="jp-shuffle" tabindex="0"><i class="fa fa-random" aria-hidden="true"></i></button>
                                                    <button class="jp-previous" tabindex="0"><i class="fa fa-step-backward"></i></button>
                                                    <button class="jp-play" tabindex="0"><i class="fa fa-play" aria-hidden="true"></i></button>
                                                    <button class="jp-next" tabindex="0"><i class="fa fa-step-forward"></i></button>
                                                    <div class="jp-volume-controls">
                                                        <button class="jp-mute" tabindex="0"><i class="fa fa-volume-up" aria-hidden="true"></i></button>
                                                        <div class="jp-volume-bar">
                                                            <div class="jp-volume-bar-value"></div>
                                                        </div>
                                                    </div>
                                                    <div class="jp-time-holder">
                                                        <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div> /
                                                        <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jp-progress">
                                    <div class="jp-seek-bar">
                                        <div class="jp-play-bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6  p-0">
                        <div class="player_right">
                            <div class="section-title">
                                <div class="sub-title">Latest album</div>
                                <h2>WHEN WE ALL FALL ASLEEP</h2>
                            </div>
                            <div class="jp-playlist audio-playlist">
                                <ul>
                                    <li>&nbsp;</li>
                                </ul>
                            </div>
                            <div class="jp-no-solution">
                                <span>Update Required</span>
                                To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Player Section end -->
<!-- Video Section -->
<section class="video__section set-bg" data-setbg="img/video-overlay.png">
    <div class="container">
        <div class="section-title text-center pb-3">
            <div class="sub-title">Our Videos</div>
            <h2>newest albums & singles.</h2>
        </div>
        <div id="jp_container_1" class="jp-video jp-video-270p" role="application" aria-label="media player">
            <div class="jp-type-playlist video-player">
                <div class="row">
                    <div class="col-lg-8 player-left-hover pr-0">
                        <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                        <h2 class="video-title">Maroon 5 - Don't Wanna Know (Audio) ft. Kendrick Lamar</h2>
                        <div class="jp-gui">
                            <div class="jp-video-play">
                                <button class="jp-video-play-icon" tabindex="0"><i class="fa fa-play" aria-hidden="true"></i></button>
                            </div>
                            <div class="jp-interface">
                                <div class="jp-controls-holder">
                                    <div class="jp-controls">
                                        <button class="jp-previous" tabindex="0"><i class="fa fa-step-backward"></i></button>
                                        <button class="jp-play" tabindex="0"><i class="fa fa-play" aria-hidden="true"></i></button>
                                        <button class="jp-next" tabindex="0"><i class="fa fa-step-forward"></i></button>
                                    </div>
                                    <div class="jp-progress">
                                        <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                        <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                        <div class="jp-seek-bar">
                                            <div class="jp-play-bar"></div>
                                        </div>
                                    </div>
                                    <div class="jp-volume-controls">
                                        <button class="jp-mute" tabindex="0"><i class="fa fa-volume-up" aria-hidden="true"></i></button>
                                        <div class="jp-volume-bar">
                                            <div class="jp-volume-bar-value"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="jp-playlist video-playlist">
                            <ul>
                                <!-- The method Playlist.displayPlaylist() uses this unordered list -->
                                <li>&nbsp;</li>
                            </ul>
                        </div>
                        <div class="jp-no-solution">
                            <span>Update Required</span>
                            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Video Section end -->
<!-- Shows Section -->
<section class="shows__section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-title">
                    <div class="sub-title">Upcoming Shows</div>
                    <h2>WHEN WE ALL FALL ASLEEP</h2>
                </div>
            </div>
            <div class="col-lg-4 text-left text-lg-right pt-2 mb-5">
                <a href="#" class="site__btn">View all </a>
            </div>
        </div>
        <div class="show__item">
            <div class="show__date">
                <h2>25</h2>
                <p>aug</p>
            </div>
            <div class="show__title">
                <h4>Sunburn Arena with Wiz Khalifa</h4>
                <p>EDM, Pop, Rap  |  English  |  Age 15+  |  5hrs</p>
            </div>
            <div class="show__location">
                <p><i class="fa fa-map-marker"></i> Multiple Venues </p>
            </div>
            <div class="show__time">
                <p><i class="fa fa-clock-o"></i>02:00PM</p>
            </div>
            <div class="show__btn">
                <a href="#" class="site__btn sb--line ">Buy tickets</a>
            </div>
        </div>
        <div class="show__item">
            <div class="show__date">
                <h2>05</h2>
                <p>SEP</p>
            </div>
            <div class="show__title">
                <h4>Raymond MTV India Music</h4>
                <p>Rock, Sufi   |  English, Hindi   |  Age 12+</p>
            </div>
            <div class="show__location">
                <p><i class="fa fa-map-marker"></i> The Fairmont Hotel: Jaipur </p>
            </div>
            <div class="show__time">
                <p><i class="fa fa-clock-o"></i>02:00PM</p>
            </div>
            <div class="show__btn">
                <a href="#" class="site__btn sb--line ">Buy tickets</a>
            </div>
        </div>
        <div class="show__item">
            <div class="show__date">
                <h2>16</h2>
                <p>SEP</p>
            </div>
            <div class="show__title">
                <h4>Sunburn Goa 2019</h4>
                <p>EDM  |  English  |  Age 15+  |  8hrs</p>
            </div>
            <div class="show__location">
                <p><i class="fa fa-map-marker"></i> Vagator: Goa </p>
            </div>
            <div class="show__time">
                <p><i class="fa fa-clock-o"></i>02:00PM</p>
            </div>
            <div class="show__btn">
                <a href="#" class="site__btn sb--line ">Buy tickets</a>
            </div>
        </div>
        <div class="show__item">
            <div class="show__date">
                <h2>20</h2>
                <p>SEP</p>
            </div>
            <div class="show__title">
                <h4>The Piano Man presents Shockblast</h4>
                <p>Jazz, Pop  |  English  |  3hrs</p>
            </div>
            <div class="show__location">
                <p><i class="fa fa-map-marker"></i> The Piano Man Jazz Club: Delhi</p>
            </div>
            <div class="show__time">
                <p><i class="fa fa-clock-o"></i>08:00PM</p>
            </div>
            <div class="show__btn">
                <a href="#" class="site__btn sb--line ">Buy tickets</a>
            </div>
        </div>
        <div class="show__item">
            <div class="show__date">
                <h2>14</h2>
                <p>oct</p>
            </div>
            <div class="show__title">
                <h4>Zangoora - Kingdom of Dreams</h4>
                <p>EDM, Pop, Rap  |  English  |  Age 15+  |  5hrs</p>
            </div>
            <div class="show__location">
                <p><i class="fa fa-map-marker"></i> Kingdom Of Dreams: Gurgaon </p>
            </div>
            <div class="show__time">
                <p><i class="fa fa-clock-o"></i>09:00PM</p>
            </div>
            <div class="show__btn">
                <a href="#" class="site__btn sb--line ">Buy tickets</a>
            </div>
        </div>
    </div>
</section>
<!-- Shows Section end -->